{% doc %}
  Renders social media sharing buttons for various platforms. Allows customers to share content on WhatsApp, Facebook, Twitter, Pinterest, Messenger, and email with proper URLs and metadata.

  @param {object} share - Object containing sharing metadata (url, title, featured_image or image)
  @param {boolean} [share_whatsapp] - Whether to show WhatsApp sharing button
  @param {boolean} [share_facebook] - Whether to show Facebook sharing button
  @param {boolean} [share_twitter] - Whether to show Twitter sharing button
  @param {boolean} [share_pinterest] - Whether to show Pinterest sharing button (requires image)
  @param {boolean} [share_messenger] - Whether to show Facebook Messenger sharing button (mobile only)
  @param {boolean} [share_email] - Whether to show email sharing button

  @example
  {% render 'social-share-buttons', share: product, share_facebook: true, share_twitter: true %}
  @example
  {% render 'social-share-buttons', share: article, share_whatsapp: true, share_email: true %}
  @example
  {% render 'social-share-buttons', share: product, share_pinterest: true, share_facebook: true, share_messenger: true %}
{% enddoc %}

{%- if share_whatsapp -%}
  <li>
    <a target="_blank" href="whatsapp://send?text={{ shop.url }}{{ share.url }}"
      ><i aria-hidden="true" class="icon-whatsapp"></i> <span>{{ 'social_share.whatsapp' | t }}</span></a
    >
  </li>
{% endif %}
{%- if share_facebook -%}
  <li>
    <a
      target="_blank"
      onclick="return !window.open(this.href,'{{ share.title }}', 'width=500,height=500')"
      href="https://www.facebook.com/sharer/sharer.php?u={{ shop.url }}{{ share.url }}"
      ><i aria-hidden="true" class="icon-facebook"></i> <span>{{ 'social_share.facebook' | t }}</span></a
    >
  </li>
{%- endif %}
{% if share_twitter -%}
  <li>
    <a
      target="_blank"
      onclick="return !window.open(this.href,'{{ share.title }}', 'width=500,height=500')"
      href="https://twitter.com/intent/tweet?url={{ shop.url }}{{ share.url }}"
      ><i aria-hidden="true" class="icon-twitter"></i> <span>{{ 'social_share.twitter' | t }}</span></a
    >
  </li>
{%- endif -%}
{%- if share_pinterest -%}
  <li>
    <a
      target="_blank"
      onclick="return !window.open(this.href,'{{ share.title }}', 'width=500,height=500')"
      href="http://pinterest.com/pin/create/button/?url={{ shop.url }}{{ share.url }}&media={% if share.featured_image %}{{ share.featured_image | image_url }}{% else %}{{ share.image | image_url }}{% endif %}&description={{ share.title | url_encode }}"
      ><i aria-hidden="true" class="icon-pinterest"></i> <span>{{ 'social_share.pinterest' | t }}</span></a
    >
  </li>
{% endif %}
{%- if share_messenger -%}
  <li class="desktop-hide">
    <a href="fb-messenger://share/?link={{ shop.url }}{{ share.url }}"
      ><i aria-hidden="true" class="icon-messenger"></i> <span>{{ 'social_share.messenger' | t }}</span></a
    >
  </li>
{%- endif -%}
{%- if share_email -%}
  <li>
    <a href="mailto:?subject=&body={{ shop.url }}{{ share.url }}"
      ><i aria-hidden="true" class="icon-envelope"></i> <span>{{ 'social_share.email' | t }}</span></a
    >
  </li>
{%- endif -%}
